*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.row{
  --bs-gutter-x:0rem;
}
.section{
    background: rgb(20, 26, 32);
}
#logo-head , #logo{
    color: var(--bs-cyan);
    font-family: 'Francois One', sans-serif;
}
.form-control{
    background: transparent;
    border: 2px solid rgb(189, 214, 255);
    border-radius: 0;
    color: white;
}
.btn-success{
    background: none;
}
#test:hover{
    transition: .5s all;
    transform: scale(1.1);
    background: success;
}



/* Responsive */

@media screen and (max-width: 767px){
.container{
    max-width: 700px;
}
}

@media (max-width: 576px) {
    .d-flex{
        flex-direction: column;
    }
    .container{
        width: 95%;
    }
    .mx-2{
        margin: 0!important;
        margin: 1rem 0px!important;
    }
    #logo-head{
        font-size: calc(1.375rem + 0.5vw)
    }
 }
    
